<body>
<form id="form1" name="form1" method="post" action="" >
Username:
<input type="text" name="username" />
<br/>
<br/>
Password:
<input type="password" name="password" />
<br />
<br/>
<input type="button" value="Log in" onclick="check();"/>
<input type="reset" value="Reset" />
</form>
<script language="javascript">
function check(){
 var user = "wang", password = "123456";
 var loguser = document.form1.username.value;
 var logpassword = document.form1.password.value;
 if(user==loguser && password==logpassword)
 {alert("Success.");}
 else if(loguser=="")
 {alert("Please Enter Username.");}
 else if(logpassword=="")
 {alert("Please Enter Password.");}
 else {alert("Error.");}   
}
</script>
</body>
